/****************************************
Fonts
=========================================
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*****************************************/

/*** HTML ELEMENTS ***/
html, body {
  height: 100%;
}
body {
  background: url(../images/portland.jpg) no-repeat center center fixed;
	background-size:  cover;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
}
img {
  width: 90%;
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border: 2px solid rgb(117,168,189);
}
li{
  margin-bottom: 10px;
}
/*** CLASSES ***/
.col-lg-3 {
  margin-top: 50px;
}
.col-lg-9 {
  margin-top: 50px;
}
/*.navbar-default {
  background:transparent;
  background-image:none;
  border-color:transparent;
  margin-bottom: 0px;
}*/
.well {
  background: rgba(117,168,189,.65);
  color: #efefef;
  height: 300px;
  padding-top: 25px;
  margin-bottom: 40px;
  overflow-y: auto;
}
.panel-default {
  background: rgba(117,168,189,.01);
  color: #efefef;
}
.description {
  font-weight: bold;
  font-size: 20px;
}
/*** IDS ***/
#page {
  background: rgba(39,62,84,0.6);
  overflow-y: auto;
  height: 100%;
  padding-top: 20px;
}
#aboutdawson {
  background: rgba(117,168,189,.65);
}
#abouttitle {
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
